/* Reset de algumas configurações de estilo padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco para contraste */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  text-align: center;
  padding-top: 20px;
}

.logo {
  width: 200px; /* Ajuste o tamanho conforme necessário */
}

main {
  margin-top: 50px;
  text-align: center;
}

form {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

input, textarea, button {
  background-color: rgba(255, 255, 255, 0.8); /* Fundo claro para os campos */
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  background-color: #39036b; /* Cor roxa */
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #2b0258; /* Cor roxa mais escura no hover */
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #fff;
  font-weight: bold;
}

input[type="file"] {
  background-color: transparent;
  color: #fff;
  border: none;
}

textarea {
  height: 100px;
  resize: none;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  form {
    width: 90%;
  }

  .logo {
    width: 150px; /* Menor logo em telas pequenas */
  }
}